<div class="landing_page">
	<div id="gentleman">
		<%= image_tag("gentleman.svg", width: "70%", id:"home_logo") %>
	</div>
	<div id="description">
		<h2>Gentleman's Bet</h2>
    <h3>Challenge your friends' convictions in good sport.</h3>
	</div>
  <div id="button_style">
	 <%= link_to image_tag("twitter-sign-in.png", id: "twitter_button"), "/login"%>
  </div>
</div>