<div>
	<%= image_tag("tophat.jpeg", width: "25%") %>
</div>
<div>
	This is the description of our site... Blah, blah, blah
</div>
<%= form_tag("/login", method: "get") do%>
<%= submit_tag("Sign in with Twitter") %>
<% end %>