<div class="landing_page">
	<div id="gentleman">
		<%= image_tag("gentleman.svg", width: "70%") %>
	</div>
	<div id="description">
		This is the description of our site... Blah, blah, blah
	</div>
  <div id="button_style">
	 <%= link_to image_tag("twitter-sign-in.png", id: "twitter_button"), "/login"%>
  </div>
</div>